@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --wrapper-background: transparent;
        --element-background: #292929;
        --element-hover: #525252;
        --color-confirm: #37BD3C;
        --color-deny: #C41F1F;
        --color-secondary: #ABABAB;
        --color-btn: #323232;
        --color-btn-warn: #C58F05;
        --color-btn-secondary: #6B6B6B;
        --color-btn-primary: #1664BE;
        --color-btn-border: #FFFFFF;
        --color-btn-text: #FFFFFF;
        
        --standard-text-color: #D2D2D2;
        --standard-font-family: Droid Sans;
        --font-size-nrm: 24px;
        --font-size-big: 36px;
        --font-size-bigger: 48px;
        --font-size-biggest: 58px;
        --font-size-ui: 40px;
        --font-color-dark: #4A4A4A;
        
        --container-border-radius: 10px;
        --button-border-radius: 10px;
        
        --home-background: #333333;
        --panel-border-color: #1664BE;
        --panel-sub-border-color: rgba(0, 0, 0, 0.25);
        --panel-font-color: #e4e4e4;
        --panel-sub-font-color: #DCDCDC99;
        --window-width: 2048px;
        --window-height: 1400px;
        --cvr-orange: #ff5824;
        --cvr-black: #0e0e13;
        --cvr-white: #ebecef;
        --cvr-dark: #17181c;
        --cvr-darklight: #2a2b36;
        --cvr-green: #37bd3c;
        --cvr-red: #bd3737;
    }
}

html, body {
    font-family: sans-serif;
    font-weight: 400;
}

button {
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 304px;
}

div {
    font-size: calc(var(--font-size-nrm) + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

#quickmenu-wrapper {
    display: block;
    position: relative;
    width: var(--window-width);
    height: var(--window-height);
}

#quickmenu-wrapper {
    overflow: hidden;
    background: linear-gradient(180deg, rgba(21, 21, 28, 0.9) 0%, #111017 100%);

    .background-waves {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        background-image: url("../waves.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .stats p {
        min-width: 150px;
    }
}

.ui-button {
    &.big {
        width: calc(var(--window-width) / 4 - 100px);
    }

    &.is-disabled {
        opacity: .5;
        pointer-events: none;
    }

    .icon {
        filter: brightness(10);
    }

    &.active .icon {
        filter: brightness(1);
    }

    &:hover {
        filter: drop-shadow(0 0 4px var(--cvr-orange));
        .icon {
            filter: none;
        }
    }
}

.text-CVRClock {
    // text-shadow: 0 0 20px rgba(var(--cvr-orange), 1);
    filter: drop-shadow(0 0 10px var(--cvr-orange));
}

/* #quickmenu-wrapper {
    background-image: url("../cvr_quickmenu_test.png");
} */

@import "./scss/icons.scss";

.mic-toggle {
    
    .ui-button:hover {
        filter: none;

        span {
            color: #fff;
        }

        .icon {
            filter: brightness(10);
        }
    }

    .icon-mic {
        filter: brightness(10);
    }
}

.notification-wrapper {
    width: 1224px;

    .notification-image {
        overflow: hidden;
        background-size: cover;
    }
}